.node {
    fill: grey;
    stroke: #444;
    stroke-width: 1.5px;
    opacity:1;
}

.node.highlightedCluster {

}

.node.faded {
    opacity: 0.1;
}

.node.highlightedNode {
    opacity: 1;
    stroke: #444;
    stroke-width:1.5px;
}

.node .pie {
    stroke-width: 0.5px;
}

.node.queried .pie{
    -webkit-animation-name: expandShrink; 
    -webkit-animation-duration: 0.5s; 
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: expandShrink; 
    -moz-animation-duration: 0.5s; 
    -moz-animation-direction: alternate;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes expandShrink {
    from {
        stroke:#444;
        stroke-width:0.5px;
    }
    to {
        stroke:Lime;
        stroke-width:5px;
    }
}

@-moz-keyframes expandShrink {
    from {
        stroke:#444;
        stroke-width:0.5px;
    }
    to {
        stroke:Lime;
        stroke-width:5px;
    }
}


.node text {
    stroke-width:0;
    fill: #444;
    font-weight: normal;
    font-size: 12px;
    pointer-events: none;
    color: #444;
}

.node text.disabled {
    display:none;
}

.link {
    stroke: #444;
    /*stroke-opacity: 0.8;*/
}

.link.highlightedCluster {
    stroke: #ef3d47;
}

.link.faded {
    stroke-opacity: 0.1;
}

.link.highlightedLink {
   stroke: #ef3d47;
}