.tutBalloonLeft{
    min-width: 10%;
    min-height: 10%;
    max-width: 30%; 
    display:        inline-block;
    position:       absolute; 
    border-style:   solid; 
    border-width:   2px;
    z-index:        2;
    background-color: white;
    margin: 0px;
    border-radius: 10px;
    padding: 10px;
}

.tutBalloonLeft:after{
    content: "";
    position: absolute;
    bottom: -40px;
    left: 10px;
    border: 20px solid transparent;
    border-top-color: #444;
    display: block;
    width: 0;
}

.tutBalloonRight{
    min-width: 10%;
    min-height: 10%;
    max-width: 30%; 
    display:        inline-block;
    position:       absolute; 
    border-style:   solid; 
    border-width:   2px;
    z-index:        2;
    background-color: white;
    margin: 0px;
    border-radius: 10px;
    padding: 10px;
}

.tutBalloonRight:after{
    content: "";
    position: absolute;
    bottom: -40px;
    right: 10px;
    border: 20px solid transparent;
    border-top-color: #444;
    display: block;
    width: 0;
}

.tutBalloonTopLeft{
    min-width: 10%;
    min-height: 10%;
    max-width: 30%; 
    display:        inline-block;
    position:       absolute; 
    border-style:   solid; 
    border-width:   2px;
    z-index:        2;
    background-color: white;
    margin: 0px;
    border-radius: 10px;
    padding: 10px;
}

.tutBalloonTopLeft:after{
    content: "";
    position: absolute;
    top: -40px;
    left: 10px;
    border: 20px solid transparent;
    border-bottom-color: #444;
    display: block;
    width: 0;
}

.tutBalloonTopRight{
    min-width: 10%;
    min-height: 10%;
    max-width: 30%; 
    display:        inline-block;
    position:       absolute; 
    border-style:   solid; 
    border-width:   2px;
    z-index:        2;
    background-color: white;
    margin: 0px;
    border-radius: 10px;
    padding: 10px;
}

.tutBalloonTopRight:after{
    content: "";
    position: absolute;
    top: -40px;
    right: 10px;
    border: 20px solid transparent;
    border-bottom-color: #444;
    display: block;
    width: 0;
}

.tutBalloon{
    min-width: 10%;
    min-height: 10%;
    max-width: 30%; 
    display:        inline-block;
    position:       absolute; 
    border-style:   solid; 
    border-width:   2px;
    z-index:        2;
    background-color: white;
    margin: 0px;
    border-radius: 10px;
    padding: 10px;
}

.tutButton{
    display: inline-block;
    position: absolute;
    border-style:   solid; 
    border-width:   2px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    cursor:pointer;
        -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-align: center;
}

.tutButton:hover{
    background-color: grey;
}

#tutStartButton{
    display: block;
    width: 50%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.tutText{
    padding:10px;
    margin-bottom: 5%;
    text-align: left;
    vertical-align: middle;
}